
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:$colorRojo;
    background-color: $colorBGBody;
    font-family: $fuentePrincipal;
}


nav {
    border: 2px solid $colorRojo; // mandar a llamar la variable
    width: 100%;
    margin: $marginContainers ;
    width: 100%;
}



.marginado {
    margin: $marginContainers;
    border: 2px solid $colorRojo; // mandar a llamar la variable
    width: 100%;
    height: 200px;
    font-family: $fuenteSecundaria;
}

a:hover {
    color: $colorRojo;
}




.marginado {
    nav {
        ul {
            @include displayFlexDinamico(column, center, center, no-wrap);
        }
        
    }
}