// selectores nested
.container {
    header {
        nav {
            // background-color:$colorNegro;
            ul {
                @include displayFlexRowJustifyAround();
            }
            li {
                padding: 20px;
            }
        }


        @media (min-width:320px) and (max-width:768px) {
            background-color: red;
        }

        @media (min-width:768px) {
            background-color: yellow;
        }
    }
}