// Crear variables de SASS
$colorRojo: rgba(177, 23, 51, 0.782);
$colorBGBody : #efefef;
$colorBlue : #23286e;
$colorNegro: rgb(7, 184, 57);
$marginContainers : 45px;
$marginImgGallery : 10px;

// variables para el font family
$fuentePrincipal : 'Lato', sans-serif;
$fuenteSecundaria : 'Fredoka', sans-serif;

// variables galeria
$imgDimensions:150px;